  // Primary Color

$darkBlue: #2b2c30;
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);

// Neutral Color

$lightGray: #d6d6d6; //(paragraphs)
$verylightgray: #f4f1f1; //(headings, buttons)
$lightPink: #64d8ff; //(background, headings, buttons)

/* Primary Color */
:root {
  --primary-color:$lightPink;
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

/* Neutral Color */
:root {
  --light-gray: #d6d6d6; /* (paragraphs) */
  --very-light-gray: #f4f1f1; /* (headings, buttons) */
  --light-pink: #64d8ff; /* (background, headings, buttons) */
  --darkBlue: #17181B;

}

:root {
  /* Autres variables ici */
  --btn-text-color: #64d8ff;
  --btn-border-color: #64d8ff;
}


/* Changed Color */


  $greenFluo: #64ff6e;
  $pinkFluo: #ff64f5;
  $purpleFluo: #6464ff;
  $yellowFluo: #e8ff64;
  
