// -----------------------------------------------------------------------------
// Styles pour les titres animés
// -----------------------------------------------------------------------------
h4.title-2 {
  color: $White;
  position: relative;
  font-size: $font-title-xl;
  margin-top: -13.5rem;
  opacity: 0;
  @include breakpoint-down('lg') {
    font-size: $font-title-md;
    margin-top: -9rem;
 
}
  @include breakpoint-down('md') {
    font-size: $font-title-xs;
    margin-top: -5rem;
 
}
  @include breakpoint-down('sm') {
    font-size: $font-xg;

 
}
@include breakpoint-down('sm') {
  font-size: $font-lg;
  margin-top: -4rem;

}
}

// Animation fadeIn
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Application de l'animation fadeIn au titre animé
h4.title-2.animate {
  animation: fadeIn 1s ease 2s forwards;
}