/* -----------------------------------------------------------------------------
 * Ce fichier contient toutes les styles CSS de la barre de navigation
 * -----------------------------------------------------------------------------
 */

/* Style de la barre latérale */



.sidebar {
  position: fixed;
  left: 0;
  top: 0rem;
  height: 100vh;
  width: 7.8rem;
  background: #17181B;
  padding: .6rem 1.4rem;
  z-index: 9998;
  transition: all 0.5s ease;
   @include breakpoint-down('sm') {
    left: auto;
     right: 0;
     background-color: transparent;
    
     
 
      }
 
}





/* Style de la barre latérale ouverte */
.sidebar.open {
  width: 25rem;


  @include breakpoint-down('sm') {
    display: block;
    background-color: #17181B;
    width: 100%;

 
      }
  
}


/* Style du logo et détails de la barre latérale */
.sidebar .logo-details {
  height: 6rem;
  display: flex;
  align-items: center;
  position: relative;
  @include breakpoint-down('sm') {
  
    height: 9rem;
    @include breakpoint-height-down('short'){
      height: 5rem;
  
    }
   }
   @include breakpoint-down('xs') {
  
    height: 5rem;
  
   }
}

/* Style de l'icône du logo */
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;

}

/* Style du nom du logo */
.sidebar .logo-details .logo_name {
  color: var(--accent-color);
  font-size: 2.5rem;
  font-weight: 900;
  opacity: 0;
  transition: all 0.5s ease;
 
}

/* Style de l'icône et du nom du logo lorsque la barre latérale est ouverte */
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  font-size: $font-std;
  opacity: 1;

  @include breakpoint-down('sm') {
  
    font-size: $font-xg;
    @include breakpoint-height-down('short'){
      font-size: $font-std;
  
    }
   }
  @include breakpoint-down('xs') {
  
    font-size: $font-md;
  
   }
}

/* Style du bouton de la barre latérale */
.sidebar .logo-details #btn {
  position: absolute;
  margin-top: 6rem;
  right: 0;
  transform: translateY(-50%);
  font-size: 2.2rem;
  transition: all 0.4s ease;
  font-size: $font-md;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;

  @include breakpoint-down('sm') {
    font-size: $font-title-xx;
    @include breakpoint-height-down('short'){
      font-size: $font-lg;
  
    }
   
   }
   @include breakpoint-down('xs') {
  
    font-size: $font-lg;
   }
}

/* Style du bouton lorsque la barre latérale est ouverte */
.sidebar.open .logo-details #btn {
  text-align: right;

}

/* Style des icônes de la barre latérale */
.sidebar i {
  color: #fff;
  height: 6rem;
  min-width: 50px;
  font-size: $font-lg;
  text-align: center;
  line-height: 6rem;
  
}

/* Style de la liste de navigation de la barre latérale */
.sidebar .nav-list {
  margin-top: 2rem;
  height: 100%;
  @include breakpoint-down('sm') {
   display: none;
   margin-top: 4rem;

   @include breakpoint-height-down('short'){
    margin-top: 2rem;
    
  }
      }
    
}

/* Style des éléments de la liste */
.sidebar li {
  position: relative;
  margin: .8rem 0rem;
  list-style: none;
  @include breakpoint-down('sm') {
    margin: 0rem;
    @include breakpoint-height-down('short'){
      height: 3rem;
    }
       }
}

/* Style des infobulles */
.sidebar li .tooltip {
  position: absolute;
  top: -2rem;
  left: calc(100% + 15px);
  z-index: 3;
  background: $lightGray;
  color: $darkGrey;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  padding: .4rem .8rem;
  border-radius: .4rem;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
/* Style des infobulles au survol */
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Style des infobulles lorsque la barre latérale est ouverte */
.sidebar.open li .tooltip {
  display: none;
}

/* Ajout d'un caret à gauche du tooltip */
.sidebar li .tooltip:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px; /* distance entre le caret et le tooltip */
  margin-top: -5px; /* ajustement pour centrer le caret */
  border-top: 5px solid transparent;
  border-right: 8px solid $lightGray; /* couleur de fond du tooltip */
  border-bottom: 5px solid transparent;
}

/* Style des inputs de la barre latérale */
.sidebar input {
  font-size: 15px;
  color: $White;
  font-weight: 400;
  outline: none;
  height: 5rem;
  width: 100%;
  width: 5rem;
  border: none;
  border-radius: 1.2rem;
  transition: all 0.5s ease;
  background: $darkGrey;
}

/* Style des inputs lorsque la barre latérale est ouverte */
.sidebar.open input {
  padding: 0 2rem 0 5rem;
  width: 100%;
}

/* Style des liens de la liste de navigation */
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 1.2rem;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: $darkGrey;
  @include breakpoint-down('sm') {
    margin: 1rem;
    padding: 1rem;
    width: auto;
    @include breakpoint-height-down('short'){
      //display: inline;
      
      width: auto;
      margin:4px;
      padding: 2px;
      
    }
   
   }
   
  
}

/* Style des liens de la liste de navigation au survol */
.sidebar li a:hover {
  background: $White;
}

/* Style des noms de liens de la liste de navigation */
.sidebar li a .links_name {
  color: $White;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  @include breakpoint-down('sm') {
    font-size: $font-md;
    font-weight: 200;

    @include breakpoint-height-down('short'){
      font-size: $font-sm;
      font-weight: 200;
  
    }
   
   }
   @include breakpoint-down('xs') {
    font-size: $font-std;
    
       }
}

/* Style des noms de liens lorsque la barre latérale est ouverte */
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

/* Style des noms de liens et icônes de la liste de navigation au survol */
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: $darkGrey;
}

/* Style des icônes de la liste de navigation */
.sidebar li i {
  height: 5rem;
  line-height: 5rem;
  font-size: $font-sm;
  border-radius: $font-title-xx;

  @include breakpoint-down('sm') {
    margin-right: 4rem;
    @include breakpoint-height-down('short'){
      margin-right: 1rem;
    
    }
   }
   @include breakpoint-down('xs') {
    margin-right: 2rem;
    
       }
}
.sidebar li i::before {


  @include breakpoint-down('sm') {
   font-size: $font-lg; 
   @include breakpoint-height-down('short'){
    font-size: $font-sm; 

  }
   }
   @include breakpoint-down('xs') {
    font-size: $font-std;
    
       }
}

/* Style du profil dans la barre latérale */
.sidebar li.profile {
  position: fixed;
  height: 6rem;
  width: 7.8rem;
  left: 0;
  bottom: -3%;
  padding: 1rem 1.4rem;
  transition: all 0.5s ease;
  overflow: hidden;
  @include breakpoint-down('sm') {
    width: 100%;
    height: auto;
    @include breakpoint-height-down('short'){

     
  
    }
   }
}
/* Style du profil lorsque la barre latérale est ouverte */
.sidebar.open li.profile {
  width: 25rem;
  margin-bottom: 3rem;
  @include breakpoint-down('sm') {
    width: 100%;
   
   }
}

/* Style des détails du profil dans la barre latérale */
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  
  
}

/* Style de l'image du profil */
.sidebar li img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 1rem;
}



/* Style du nom et du métier du profil */
.sidebar .nav-list li.profile .name,
.sidebar .nav-list li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: $White;
  opacity: 0;
  white-space: nowrap;
  
}

.sidebar.open li.profile .name,
.sidebar.open li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: $titleColor;
  opacity: 1;
  white-space: nowrap;
  @include breakpoint-down('sm') {
    font-size: $font-sm;
    @include breakpoint-height-down('short'){
      font-size: 12px;
  
    }
  
   }
   @include breakpoint-down('xs') {
      font-size: $font-sm;
   }
 
}







/* Style de la section principale */
.home-section {
  left: 7.8rem;
  transition: all 0.5s ease;
}

/* Style de la section principale lorsque la barre latérale est ouverte */
.sidebar.open ~ .home-section {
  left: 25rem;
  width: calc(100% - 25rem);

  

}

/* Style du texte dans la section principale */
.home-section .text {
  display: inline-block;
  color: $verylightgray;
  font-size: $font-lg;
  font-weight: 500;
  margin-right: 1.8rem;

  @include breakpoint-down('lg') {
    margin-right: .5rem;

       
       }
       
}


/* Style du contenu principal lorsque la barre latérale est ouverte */
.sidebar.open + main {
  margin-left: 16rem;
}

/* Style du menu déroulant */
#menu.container + .sidebar.open {
  margin-left: 25rem;
}

/* Styles pour les sections */
section {
  transition: all 0.5s ease;
}

/* Styles pour les sections lorsque la barre latérale est ouverte */
.sidebar.open section {
  margin-left: 17.2rem;
}

/* Styles pour les titres de section */
.title {
  transition: all 0.5s ease;
}

/* Styles pour les titres de section lorsque la barre latérale est ouverte */
.sidebar.open .title {
  margin-left: 17.2rem;
}

/* Styles pour les sections avec une classe fade-in */
.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease;
}

/* Styles pour les sections avec une classe fade-in lorsque la barre latérale est ouverte */
.sidebar.open .fade-in {
  opacity: 1;
  transform: none;
}
/* Styles pour le nom du logo */
.logo_name {
  border: $White solid .2rem;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint-down('sm') {
    width: 6rem;
  height: 6rem;
    @include breakpoint-height-down('short'){
      width: 3rem;
      height: 3rem;

    }
       
       }
       @include breakpoint-down('xs') {
        width: 4rem;
      height: 4rem;
        
  
           }
}

/* Styles pour l'animation de rotation */
.rotate {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

/* Définition de l'animation de rotation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Styles par défaut pour tous les navigateurs */
.sidebar .nav-list .social-icons {
  display: flex;
  justify-content: center;
  bottom: 1%;
  @include breakpoint-down('sm') {
    bottom: 1%;
    @include breakpoint-height-down('short'){
      bottom: 4%;
   }
   
   }
   @include breakpoint-down('xs') {
    bottom: 5%;
   
   }
}

/* Styles spécifiques pour Firefox */
@supports (-moz-appearance: none) {
  .sidebar .nav-list .social-icons {
    margin-bottom: 3vh;
    @include breakpoint-down('sm') {
      margin-top: 8vh;
     
     }
     @include breakpoint-down('xs') {
      margin-top: 2vh;
     
     }
  }
}

/* Styles spécifiques pour Chrome */
@supports (-webkit-appearance: none) {
  .sidebar .nav-list .social-icons {
    margin-bottom: 3vh;
    @include breakpoint-down('sm') {
      margin-bottom: 3vh;
      @include breakpoint-height-down('short'){
        margin-bottom: 3vh;
     }
     @include breakpoint-down('xs') {
      margin-bottom: 8vh;
     
     }
  }
}
}
.sidebar .nav-list .social-icons a {
  color: #fff;
}

.sidebar .nav-list .social-icons i {
  font-size: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  min-width: 4rem ;
  color: $titleColor;
  @include breakpoint-down('sm') {
    font-size: 3rem;
    margin: 2rem;
    @include breakpoint-height-down('short'){
      font-size: 2rem;
      margin: 1rem;
    }
   }
   @include breakpoint-down('xs') {
    font-size: 2rem;
    margin: 1rem;
   }
}
.sidebar .nav-list .social-icons i:hover {

  color: var(--accent-color);
}
.sidebar.open .nav-list .social-icons i {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open .nav-list {
  display: block;
 
}


.sidebar.open .nav-list li .sidebar__param{
  @include breakpoint-down('sm') {
    display: none;
   
 
}
}
@include breakpoint-down('sm') {
.nav-show {
  opacity: 1;
  transition: all 0.5s ease; /* Transition fluide pour l'effet de défilement */
}
.sidebar.nav-scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar.nav-hidden {
  opacity: 0;
  box-shadow: none; /* Ombre supprimée */
  background-color: transparent; /* Fond transparent */
}
}