.fixed-icon {
    position: fixed;
    left: 45px;
    font-size: 20px;
    text-decoration: none;
    z-index: 1000;
    margin-bottom: 20px;
}

.icon-linkedin {
    top: calc(80% - 72px); /* 72px = 24px (hauteur de l'icône) + 20px (marge inférieure) + 28px (moitié de la hauteur totale des icônes et marges) */
    color: $lightGray;
}

.icon-github {
    top: calc(80% - 28px); /* 28px = 24px (hauteur de l'icône) + 4px (moitié de la marge inférieure) */
    color: $lightGray;
}

.icon-facebook {
    top: calc(80% + 16px); /* 16px = 4px (moitié de la marge inférieure) */
    color: $lightGray;
}

.icon-linkedin:hover {
    color: var(--light-pink);
}

.icon-github:hover {
    color: var(--light-pink);
}

.icon-facebook:hover {
    color: var(--light-pink);
}

.side__StyledSideElement {
     width: 40px;
    position: fixed;
    bottom: 0px;
    right: 22px;
    left: auto;
    z-index: 10;
  
    @include breakpoint-down('sm') {
       display: none;
      }
  }

/* Email fixe coté droite */

.email__StyledLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email__StyledLinkContainer .email__StyledText {
    margin: 20px auto;
    padding: 10px;
    font-size: $font-sm;
    writing-mode: vertical-rl;

    letter-spacing: 0.5em;
}

.email__StyledText:hover{
    color: var(--accent-color);
}

.email__StyledLinkContainer::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin: 0px auto;
    background-color: white;
}
