#formation{
    background-color: $darkGrey;
    height: 100vh;
}

.timeline-container {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
}

.timeline-component {
    margin: 0 60px 20px 60px;
    position: relative;
}

.timeline-caret {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 0.2);
}

.timeline-caret-right {
    right: -15px;
    transform: translateY(-100%) rotate(270deg);
}

.timeline-caret-left {
    left: -15px;
    transform: translateY(-50%)rotate(-190deg);
}

.timeline-bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-bottom {
    margin-bottom: 0;
}

.timeline-middle {
    position: relative;
    background: #ffffff;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    border: 12px solid $darkGrey ;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
}

.timeline-point-bottom {
    top: initial;
    bottom: 0;
}

.timeline-date-right {
    text-align: right;
    margin: -10px;
}

.timeline-title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline-text {
    line-height: 1.5;
}