.title{
    font-size: 120px;
    color: $darkGrey;
    text-align: center;
    margin-top: -10px;

    @include breakpoint-down('small') {
        font-size: 34px;
        padding-top: 7em;
    }
}

