.title{
    font-size: 120px;
    color: $darkGrey;
    text-align: center;
    margin-top: -10px;

    @include breakpoint-down('lg') {
        font-size: 80px;
        
    }

    @include breakpoint-down('md') {
        font-size: 55px;
        padding-top: 2em;
    }

    @include breakpoint-down('sm') {
        font-size: 50px;
        padding-top: 2em;
    }
    @include breakpoint-down('xs') {
        font-size: 34px;
       
    }
}

