.wrapp{
    padding-top: 20rem;
    @include breakpoint-down(small) {
      margin: 5rem 14px 0px 14px;
      
    }  
  }
  
.numNav{ 
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--primeColor);
    

    }
.wrapper{
    padding: 6rem 0rem;

    @include breakpoint-down(small) {
      padding: 0rem;

     }
}

.ml2{
    z-index: -1;
}
.home-section{
  
   margin-top: 30rem;
    transition: all 0.5s ease;
    z-index: 2;

    @include breakpoint-down(small) {
      margin-top: 3rem;
     left: 0;
     width: calc(100% - 0px);
      max-width: 370px;
     
    }
  }
  /* Style du contenu principal */
main {
    margin-left: 7.8rem;
    transition: all 0.5s ease;
    @include breakpoint-down(small) {
      margin-left: 0;
      
    }
  }

#travail{
  @include breakpoint-down(small) {
    margin: 12rem 3rem 3rem 2rem;
    
  }
}  