
  
.numNav{ 
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-pink);


    justify-items: left;
  
    
    }
.wrapper{
    padding: 60px 0px;

}

