// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
      &,
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        @content;
      }
    } @else {
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        @content;
      }
    }
  }
  
  /// Make a context based selector a little more friendly
  /// @author Kitty Giraudel
  /// @param {String} $context
  @mixin when-inside($context) {
    #{$context} & {
      @content;
    }
  }

// Points de rupture
$breakpoints-up: (
  'xs': 0em,            // pour tous les écrans
  'sm': 36em,           // ≥ 576px - Mobiles en mode paysage et plus
  'md': 48em,           // ≥ 768px - Tablettes en mode portrait et plus
  'lg': 62em,           // ≥ 992px - Tablettes en mode paysage et plus
  'xl': 75em,           // ≥ 1200px - Desktops et plus
  'xxl': 90em           // ≥ 1440px - Grands écrans et plus
);

$breakpoints-down: (
  'xxs': 20em,          // < 320px - Très petits mobiles
  'xs': 35.9375em,      // < 576px - Mobiles en mode portrait
  'sm': 47.9375em,      // < 768px - Mobiles en mode paysage et tablettes en mode portrait
  'md': 61.9375em,      // < 992px - Tablettes en mode paysage
  'lg': 74.9375em,      // < 1200px - Desktops
  'xl': 89.9375em,      // < 1440px - Grands écrans
  'xxl': 100em          // un point de coupure arbitraire pour les écrans extrêmement larges
);

// Points de rupture pour la hauteur
$breakpoints-height-up: (
  'short': 40em,   // 640px
  'medium': 60em,  // 960px
  'tall': 80em     // 1280px
);

$breakpoints-height-down: (
  'short': 39.9375em,  // 639px
  'medium': 59.9375em, // 959px
  'tall': 79.9375em    // 1279px
);

// Mixins pour la hauteur
@mixin breakpoint-height-up($size) {
  @media (min-height: map-get($breakpoints-height-up, $size)) {
    @content;
  }
}

@mixin breakpoint-height-down($size) {
  @media (max-height: map-get($breakpoints-height-down, $size)) {
    @content;
  }
}


// Mixins
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) { 
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
