#about  {
margin-top: 40rem;

@include breakpoint-down('md') {
 
    margin: 5rem 3rem 3rem 2rem;
}
@include breakpoint-down('sm') {
 
    margin: 5rem 3rem 3rem 2rem;
}
@include breakpoint-down('xs') {
 
    margin: 7rem 2rem 3rem 1rem;
}

}

#about section {
margin: 5rem auto;
width: 80%;

}

#about section ul {
list-style: none;
margin-bottom: 5rem;
}

.about section li {
margin-bottom: 20rem;
}

#about section label {
display: inline-block;
width: 1.5rem;
font-size: 1.2rem;
font-weight: bold;
margin-right: 2rem;
}

#about section p {
font-size: 1.2rem;
margin-bottom: 2rem;


}

#about-info .about-separator{
    @include breakpoint-down('md') {
        width: 100%;
    }

    @include breakpoint-down('sm') {
        width: 95%;
    }
    @include breakpoint-down('xs') {
        width: 90%;
    }
}
.container{
display: block;


}

.about-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

@include breakpoint-down('md') {
    flex-direction: column;
    text-align: center;
}

}

.about-info {
width: 65%;
font-family: (--title-font-stack);
@include breakpoint-down('md') {
    width: 100%;

}
@include breakpoint-down('xs') {
    
    width: 95%;
}
}

ul {
list-style: none;
padding: 0;
margin: 0;


}

li {
margin-bottom: 3rem;
font-size: $font-md;
color: $verylightgray;
font-weight: 100;

@include breakpoint-down('sm') {
   margin-bottom: 2rem;
   font-size: $font-xs;
 }

}

.about-info p{
color: $verylightgray;
font-weight: 100;
font-size: $font-md;
margin-right: 2rem;
text-align: justify;

@include breakpoint-down('md') {
 
    margin-right: 0rem;
  
  }
@include breakpoint-down('sm') {
    font-size: $font-md;
    margin-right: 2rem;
  
  }
  @include breakpoint-down('xs') {
    font-size: $font-sm;
    margin-right: 0rem;
  
  }
}


.container h2{
font-size: $font-title-xs;
margin-bottom: -1rem;

@include breakpoint-down('sm') {
    font-size: $font-lg;
    padding-top: 7rem;
    
}
@include breakpoint-down('xs') {
       padding-top: 1rem;
    
}
}

.about-separator{

border: 1px solid var(--accent-color) ;
margin-bottom: 2rem;

@include breakpoint-down('sm') {
    margin-bottom: 0rem;
    
 }

}

.contact-info{

    @include breakpoint-down('sm') {
        text-align: center;
    }
}

.contact-info h4{
margin-bottom: 4rem;
font-size: $font-lg;
@include breakpoint-down('sm') {
   
   font-size:$font-title-xs;
   margin-top: 12rem;
}
@include breakpoint-down('xs') {
   
    font-size:$font-lg;
    margin-top: 8rem;
   
 }
}

.contact-info ul{

    @include breakpoint-down('sm') {
    text-align: left;
   
    }
   
    }

    .contact-info li{

        @include breakpoint-down('sm') {
        font-size: $font-lg;
       
        }
        @include breakpoint-down('xs') {
            font-size: $font-sm;
           
            }
        }

.about-info span{
color: var(--accent-color);
font-weight: 400;
}

.about_email:hover{

    color: var(--accent-color);
    font-weight: 300;
}
.about_tel:hover{

    color: var(--accent-color);
    font-weight: 300;
}

.about_email:visited {
    color: white; /* Remplacez var(--accent-color) par la couleur que vous souhaitez utiliser pour les liens visités */
  }

  .about_tel:visited {
    color: white; /* Remplacez var(--accent-color) par la couleur que vous souhaitez utiliser pour les liens visités */
  }

  .about_email {
    color: white; /* Remplacez var(--accent-color) par la couleur que vous souhaitez utiliser pour les liens visités */
  }
  .about_tel {
    color: white; /* Remplacez var(--accent-color) par la couleur que vous souhaitez utiliser pour les liens visités */
  }