#contact {
  text-align: center;

  @include breakpoint-down(md) {
    margin: 0rem 4rem;
  } 
}

.contact p{
    color: $verylightgray;
    margin-top: -150px;
    font-weight: 100;
    z-index: 444;

    @include breakpoint-down(sm) {
      margin-top: 4rem;
     }
}

#contact p{
  text-align: center;
  font-size: $font-std;
  line-height: $fontHeight-med;
    margin-top: -100px;
    z-index: 999;
    opacity: 0;

    @include breakpoint-down(md) {
      font-size: $font-md;
      margin-top: -8rem ;
      text-align: justify;
      margin-bottom: 0rem;
     }
    @include breakpoint-down(sm) {
      font-size: $font-md;
      margin-top: -6rem;  
      margin-bottom: 8rem;     
     }
     @include breakpoint-down(xs) {
      font-size: $font-xs;
      margin-top: -5rem ;
      text-align: justify;     
     }
  }

  #contact p.animate {
    animation: fadeIn 1s ease 2s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#animated-text {
    position: relative;
    z-index: -1;
  }

  #contact .ml2 {
    @include breakpoint-down(md) {
      font-size: $font-xxl;
     }
    @include breakpoint-down(sm) {
      font-size: $font-xxl;  
     }
     @include breakpoint-down(xs) {
      font-size: $font-title-xl;  
     }
  }

  .ml2 {
    position: relative;
    display: inline-block;   
  }
  
  .ml2 .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .ml2 .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .ml2 .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .ml2 .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }