body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 210mm; /* Largeur du format A4 */
    height: 279.2mm; /* Hauteur du format A4 */
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.icon-circle {
    background-color: #f2f2f2; 
    border-radius: 0%; 
    width: 30px; 
    height: 30px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    color: #333; 
    margin-right: 2px;
    border: #333 solid 1px;
}
.section__separator{
    height: 1px;
    background-color: #333;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -18px;
}

h2{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: -0px;
}


.right-column {
    z-index: 3;
    width: 70%;
    padding: 20px;
}

/* Section Sidebar */

.left-column {
    width: 30%;
    padding: 20px;
    font-size: 12px;
    line-height: 10px;
    background-color: rgb(24, 82, 129);
    color: white;
}

/* Section Image */
left-column__img {
    text-align: center;
   
}

.left-column__img {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.left-column__img img {
    position: relative;
    border-radius: 50%; 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border: solid 4px white;
    z-index: 1;
}

.left-column-img__design{
    position: absolute;
    height: 25px; 
    width: 100%; 
    background-color: white; 
    top: 8%; 
    right: 20px;
    z-index: 1;
}

/* Section Coordonnées */

.left-column__contact .left-column__separator{
    height: 1px; 
    width: 128px;
    background-color: white; 
    margin: 10px 0; 
    margin-bottom: 20px; 
}

.left-column__contact i {
    color: white; 
    margin-right: 10px; 
}

/* Barres de Compétences */

.left-column__skills .left-column__separator{
    height: 1px; 
    width: 130px;
    background-color: white; 
    margin: 10px 0; 
    margin-bottom: 20px;
}

/* Barres de progression */
.progress-container {
    width: 95%;
    height: 10px; 
    background-color: #ddd;
    border-radius: 2px;
}

.progress-bar {
    height: 10px;
    background-color: #34b15a;
    border-radius: 2px;
}

.left-column__lag .left-column__separator{
    height: 1px; 
    width: 92px;
    background-color: white; 
    margin: 10px 0; 
    margin-bottom: 20px; 
}

/* Colonne Droite */

.right-column__title {
    text-align: center;
}

.right-column h1 {
    font-family: Lato;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: -20px;
    text-transform:uppercase; 
}

.title__role {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 8px; 
    text-transform: uppercase;
    color: gray;
    width: 100%; 
    text-align: center;
}

.right-column p{
    text-align: justify;
}

.right-column .about{
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: -8px;
}

/* Sections supplémentaires */
.section {
    margin-bottom: 30px;
}

.job-title, .dates {
    font-weight: bold;
}

@media print {
    body {
        size: A4; /* Dimension pour l'impression */
    }
}
.left-column, .right-column {
    overflow: hidden; /* Cache tout contenu débordant */
}

.section h2{
    font-size: 16px;
    margin-bottom: 12px;
}

.job{
    margin-top: 10px;
}

.job .header {
    display: flex;
    justify-content: space-between;
}

.school .header {
    display: flex;
    justify-content: space-between;
}

.school{
    margin-top: 12px;
}

.school-name{
    font-size: 14px;
    float: left;
}
.school .school-name{
    font-size: 14px;
    float: left;
}
.job-title{
    font-size: 14px;
    float: left;
}

.job .dates{
    font-size: 12px;
    color:gray;
    float: right;
}

.school .dates{
    font-size: 12px;
    color:gray;
    float: right;
}
.job p{
    font-size: 12px;
}

.education {
    margin-top: 30px;
}
.school .level{
    margin-top: 4px;
}
