.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
  @include breakpoint-down('md') {
    flex-direction: column;
    
  }
}
.profile-section__content {
  flex: 1;
  padding-right: 1rem;
  align-items: center;

  @include breakpoint-down('md') {
   display: flex;
   flex-direction: column;
   justify-content: center;
    margin-top: -40px;
    padding-right: 0rem;

  }
  @include breakpoint-down('xs') {
    padding-right: 0rem;
    margin-top: 2rem;
  }
}
 .profile-section span {
   font-weight: 300;
 }
.profile-section__image {
  flex: 1;
  height: 40vw;
  
  background-size: cover; /* Ajuster la taille du background */
  background-position: 50vw; /* Ajuster la position du background */
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include breakpoint-down('md') {
    height: 60vh; /* Exemple d'ajustement pour les écrans plus petits */
  }
  @include breakpoint-down('sm') {
    height: 100vw; /* Exemple d'ajustement pour les écrans plus petits */
  }
   }
 
   


.profile-section__animated-container .text{
    text-transform: uppercase;
    font-size: $font-xg;

     
    @include breakpoint-down('lg') {
     font-size: $font-lg;

    }
    @include breakpoint-down('xs') {
      font-size: $font-sm;
       }
   
  }
  .profile-section__name{
    font-size: $font-title-xxl;
    text-transform: uppercase;
    color: var(--accent-color);
    line-height: 90%;
    font-weight: 700;
    margin-top: -30px;
    
    @include breakpoint-down('md') {
      line-height: 70%;
      margin-top: 0px;
    }
   
    @include breakpoint-down('sm') {
      font-size: 9rem;
    }
    @include breakpoint-down('xs') {
      font-size: 8rem;
       }
  }



  .profile-section__name span{
    font-size: $font-xxl;
    text-transform: uppercase;
   
    color: $verylightgray;
    font-weight: 400;
   
    
    @include breakpoint-down('sm') {
      font-size: 5rem;
    }

  }
.profile-section__fname{
    font-size: $font-xxl;
    text-transform: uppercase;
  
    color: $verylightgray;
    font-weight: 400;
    @include breakpoint-down('md') {
      font-size: 7rem;
       }
    @include breakpoint-down('sm') {
      font-size: 5rem;
       }
    
  }
  .profile-section__animated-text {
    font-size: 42px;
    margin-top: 2rem;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 1.2rem;
    font-weight: 700 !important;
    text-transform: uppercase;

  
    @include breakpoint-down(lg) {
      font-size:$font-lg;
      text-underline-offset: .5rem;
    }
    @include breakpoint-down('xs') {
      font-size:$font-sm;
      text-underline-offset: .5rem;
     }
  }
  
