/* Style pour l'image par-dessus le fond noir */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 

    @include breakpoint-down('lg') {
      height: auto;
    }
    @include breakpoint-down('sm') {
      height: 100%;
    }
  }
  
  .underlay {
    width: 120%;
    height: 120%;
    object-fit: contain;
    opacity: 0.2;

    @include breakpoint-down('lg') {
      top: 0;
  }
    @include breakpoint-down('sm') {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   
}
  

  