 #menu-container{
    position: fixed;
    top: calc(80% + 16px); /* 16px = 4px (moitié de la marge inférieure) */
    left: 60px;
    transform: translateY(-50%);
    z-index: 999;
  }
  
  #menu-toggle {
    //display: flex;
  
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 999;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: rotate 2s linear infinite;
    
    
 
  }


  
  #menu-toggle:hover {
    color: var(--light-pink);
  }
  
   #menu  {
    position: fixed;
   
    left: -365px;
    transform: translateY(-20%);
    width: 300px;
    height: 1200px;
    background-color: $darkGrey;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1;
    padding: 20px;
  }

  
  #menu.active {
      display: inline-block !important;
  }

  #menu.inactive {
    display: none !important;
}

  .sidebar.open ~ #menu.active {
 
    left: 150px;
  }


  
  #menu h3,
  #menu h4 {
    font-size: 18px;
    margin-bottom: 20px;

  }
  #menu h4 {
   margin-top: 20px;
    margin-bottom: 20px;

  }
  
  #menu div {
    margin-bottom: 10px;
  }
  
  #menu label {
    margin-left: 5px;
  }
  
  #color-palette {
    display: flex;
    flex-wrap: wrap;
  }
  
  .color {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: inset 0px 4px 4px rgba(0,0,0,0.3), inset 0px -2px 4px rgba(255,255,255,0.3);
    cursor: pointer;
  }
  
  #color-1 {
    background-color: $greenFluo  ;
    ;
  }
  
  #color-2 {
    background-color: $pinkFluo;
  }
  
  #color-3 {
    background-color: $purpleFluo;
  }
  
  #color-4 {
    background-color: $yellowFluo;
  }
  
  #color-5 {
    background-color: var(--pinkFluo);
  }
  
  #color-6 {
    background-color: var(--pinkFluo);
  }
  #color-7 {
    background-color: var(--pinkFluo);
  }
  #color-8 {
    background-color: var(--pinkFluo);
  }
  #menu-toggle:hover {
    transform: rotate(90deg);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .theme-label{
    position: relative;
    width: 80px;
    height: 30px;
    display: block;
    background: #d9d9d9;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3), inset 0px -1px 4px rgba(255,255,255,0.3);
    margin-bottom: 10px;
  }
  .theme-label:after{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: #f2f2f2;
    border-radius: 100px;
    top: 2px;
    left: 4px;
    transition: 1s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  input:checked ~ .theme-label:after{
    left: 75px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  input:checked ~ .theme-label{
    background: #242424;
  }
  .background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: -1;
    transition: 1s;
  }
  input:checked + .theme-label + .background{
    background: #242424;
  }
 #menu  input{
    display: none;
  }
