h4.title-2{
    color: #fff;
    position: relative;
    font-size: 70px;
    margin-top: -135px;
    opacity: 0;
    
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  h4.title-2.animate {
    animation: fadeIn 1s ease 2s forwards;
  }