// -----------------------------------------------------------------------------
// Ce fichier contient toutes les actions pour la normalisation.
// -----------------------------------------------------------------------------
 

// Styles de base pour les éléments HTML et body
html {
  font-size: 62.5%; // Taille de police de base pour faciliter les conversions en rem
}

body {
  font-size: $font-std; // Taille de police par défaut
  color: $lightGray; // Couleur du texte
  background-color: $black; // Couleur d'arrière-plan
}

// Styles de base pour les liens
a {
  color: $titleColor; // Couleur du lien
  text-decoration: none; // Pas de soulignement
}

// Styles pour les liens au survol
a:hover {
  color: $verylightgray; // Couleur du lien au survol
  text-decoration: none; // Pas de soulignement
}