#about  {
margin-top: 400px;
}

#about section {
margin: 50px auto;
width: 80%;
}

#about section ul {
list-style: none;
margin-bottom: 50px;
}

.about section li {
margin-bottom: 20px;
}

#about section label {
display: inline-block;
width: 150px;
font-size: 1.2rem;
font-weight: bold;
margin-right: 20px;
}

#about section p {
font-size: 1.2rem;
margin-bottom: 20px;
}

.container{
display: block;
}

.about-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.about-info {
width: 65%;
font-family: (--title-font-stack);

}

ul {
list-style: none;
padding: 0;
margin: 0;
}

li {
margin-bottom: 30px;
font-size: 22px;
color: $verylightgray;
font-weight: 100;
}

.about-info p{
color: $verylightgray;
font-weight: 100;
font-size: 22px;
margin-right: 20px;
text-align: justify;
}


.container h2{
font-size: $font-lg;
margin-bottom: -10px;
}

.about-separator{

border: 1px solid var(--accent-color) ;
margin-bottom: 40px;
}



.contact-info h4{
margin-bottom: 40px;
font-size: 26px;
}

.about-info span{
color: var(--accent-color);
font-weight: 400;
}