.contact p{
    color: $verylightgray;
    margin-top: -150px;
    font-weight: 100;
    z-index: 444;
}

#contact p{
 
    margin-top: -100px;
    font-size: 22px;
    z-index: 999;
}
#animated-text {
    position: relative;
    z-index: -1;
  }
  .ml2 {
    position: relative;
    display: inline-block;
    white-space: nowrap;
  }
  
  .ml2 .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .ml2 .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .ml2 .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .ml2 .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }