

.developer .container .name{
    font-size: $font-title-xl   ;
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: 700;

    

 }

 .developer span {

   font-weight: 300;

 }

 .developer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-down('medium') {
      flex-direction: column;
    }
  }

.content {
    display: bloc;
    padding-right: 1rem;
    align-items: center;
    @include breakpoint-down('small') {
      padding-right: 0rem;
    }
  }
   
/*.developer img {
    width: 35%;
    height: auto;
    border-radius: $radius-std;
    border: 10px solid $lightGray;
    box-shadow:1em 11px 11px rgb(0,0,0,0.3);
    float: right;
    @include breakpoint-down('small') {
  
      margin-top: 4rem;
      width: 75%;
      border: 8px solid $lightGray;
    }
  }*/
.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.content {
  flex: 1;
}

.el {

  flex: 1;
  height: 550px;
  background-image: url(/images/9.jpg);
  background-size: 40%;
  background-position: 85% center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  mask-image: url(/images/pngkit_grunge-frame-png_988055.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
.container .text{
    text-transform: uppercase;
    font-size: $font-xg;
  
    @include breakpoint-down('small') {
     font-size: $font-sm;

    }
   
  }
  .content .name{
    font-size: 7.2rem;
    text-transform: uppercase;
    color: var(--accent-color);
    line-height: 90%;
    font-weight: 700;
    @include breakpoint-down('small') {
      font-size: 6rem;
      text-align: center;
      line-height: 70%;
    }
  }


  .content .name span{
    font-size: 62px;
    text-transform: uppercase;
    color: $verylightgray;
    font-weight: 400;
    @include breakpoint-down('small') {
      font-size: 5rem;
   

    }
  }
  .animated-text {
    font-size: 42px;
    margin-top: 2rem;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 1.2rem;
    font-weight: 700 !important;
    text-transform: uppercase;

    @include breakpoint-down(small) {
      font-size: 2rem;
      
    }
  }
  
